@if (!selectedGame) {
  <div class="game-selection-container">
    <h1>{{ title | uppercase }}</h1>
    <app-button
      [buttonIdentifier]="gameNamesEnum.PLAYER_REACTION_TIME"
      (buttonClicked)="gameSelected($event)" 
      [buttonText]="'Player reaction check'"
      ></app-button>
    <app-button 
      [buttonIdentifier]="gameNamesEnum.REACTION_CUBE"
      (buttonClicked)="gameSelected($event)" 
      [buttonText]="'Reaction cube'"
    ></app-button>
  </div>
}

@if(selectedGame === gameNamesEnum.REACTION_CUBE) {
  @defer {
    <app-main-game (closeGame)="closeCurrentGame()"></app-main-game>
  }
}

@if(selectedGame === gameNamesEnum.PLAYER_REACTION_TIME) {
  @defer {
    <app-check-reaction-time></app-check-reaction-time>
  }
}