.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    color: #3779de;
    font-size: 3em;
    font-weight: 700;
    margin: 0;

  }
  .matrix-container {
      box-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
      border: 5px solid #3779de;
      width: fit-content;
      padding: 15px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 3px; /* Vertical gap between rows */
      justify-content: center;
      align-items: center;
    }
    .row {
      display: flex;
      gap: 3px; /* Horizontal gap between cells */
    }
    .game-controls-container {
      display: flex;
      gap: 10px;
      margin-top: 10px;
      flex-direction: row;
      margin-bottom: 10px;
      .controls {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
}
  