<div class="app-container">
  <h1>{{title | uppercase}}</h1>
  <div class="game-controls-container">
    <div class="controls">
      <app-button (buttonClicked)="increaseSize()" buttonText="+"></app-button>
      <app-button (buttonClicked)="decreaseSize()" buttonText="-"></app-button>
    </div>
    <app-input [type]="'number'" [placeholder]="'time in millisecons'" ></app-input>
    <app-button
      [disabled]="gameStatusText === gameStatusTextTextEnum.GAME_IN_PROGRESS"
      [width]="208"
      (buttonClicked)="mainActionButtonClicked()"
      [disabled]="false" 
      [buttonText]='gameStatusText'
      ></app-button>
  </div>
<div class="matrix-container">
  <ng-container *ngFor="let row of matrix; let i = index">
    <div class="row">
      <ng-container *ngFor="let cell of row; let j = index">
        <game-cell
          (roundResults)="checkGameResults($event)"
          [startCounter]="matrix[i][j]" 
          [cubeSize]="cubeSize">
        </game-cell>
      </ng-container>
    </div>
  </ng-container>
</div>
</div>